/*body {*/
    /*font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
/*}*/
.form-row {
    margin: 10px 0 0 10px;
}

.form-select {
    width: 196px!important;
}

.plugin-action {
    color: red;
    cursor: pointer;
}

.search-area {
    border: 1px solid #ccc;
    background: #efefef;
    padding: 10px;
}

.search-area .search-item {
    display: inline-block;
    margin-right: 20px;
}

.search-content {
    display: inline-block;
    width: 180px;

}

