*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul, ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

$active:#30A3FC;
$text: #333333;

.active {
  color: $active;
}

